* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    text-align: center;
    background:white;
    color:black;
}
header {
    background:black;
    color:red;
    padding: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
nav a {
    color:pink;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
  color:skyblue;
  cursor:pointer;
}
.hero {
    background:lightyellow;
    color: black;
    padding: 60px 20px;
}
button {
    background:lightgrey;
    color:maroon;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background:RoyalBlue;
    color: white;
}
#services {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.service-box {
    background:orange;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background:darkgrey;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
